@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Discoteca SMN</h1>
    <p class="lead">Esta é uma discoteca Virtual onde vc encontra tos albums que procura.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Leia Mais &raquo;</a></p>
</div>

<div class="row">
   
    
    
</div>