USE CANDYSHOP;
--INSERIR CLIENTES
INSERT INTO CLIENTE
(
	CLI_NOME, 
	CLI_SEXO, 
	CLI_DATA_NASC
) 
VALUES
(
	'PAULO RICARDO DA SILVA', 
	'MASCULINO',
	'1990-12-07'
);
INSERT INTO CLIENTE(CLI_NOME, CLI_SEXO, CLI_DATA_NASC) values('LEONARDO TONETTI', 'MASCULINO','1993-11-23');
INSERT INTO CLIENTE(CLI_NOME, CLI_SEXO, CLI_DATA_NASC) values('DOUGLAS VINICIUS', 'MASCULINO','1991-11-30');


--DESATIVAR CLIENTES
UPDATE CLIENTE 
	SET CLI_ATIVO = 0
	WHERE CLI_ID=5;

UPDATE CLIENTE 	SET CLI_ATIVO = 0WHERE CLI_ID=18;
UPDATE CLIENTE 	SET CLI_ATIVO = 0WHERE CLI_ID=23;
UPDATE CLIENTE 	SET CLI_ATIVO = 0WHERE CLI_ID=25;


--INSERIR TIPOS DE PRODUTOS
INSERT INTO TIPO_PRODUTO(TPRO_NOME_TIPO_PROD) VALUES ('CHOCOLATE');
INSERT INTO TIPO_PRODUTO(TPRO_NOME_TIPO_PROD) VALUES ('REFRIGERANTE');
INSERT INTO TIPO_PRODUTO(TPRO_NOME_TIPO_PROD) VALUES ('SUCO');

--INSERIR MARCAS

INSERT INTO MARCA_PRODUTO(MARCA_PROD_NOME) VALUES('COCA-COLA');
INSERT INTO MARCA_PRODUTO(MARCA_PROD_NOME) VALUES('NESTRE');
INSERT INTO MARCA_PRODUTO(MARCA_PROD_NOME) VALUES('ARCOR');


--INSERIR PRODUTOS
--NESTLE
INSERT INTO PRODUTO( PROD_NOME, PROD_VAL_COMPRA, PROD_VAL_VENDA,PROD_QTD_ESTOQUE)
VALUES('CHOQUITO', 0.80,1.50,10);
INSERT INTO PRODUTO( PROD_NOME, PROD_VAL_COMPRA, PROD_VAL_VENDA,PROD_QTD_ESTOQUE)
VALUES('SUFLAIR', 1.20,2.00,18);
INSERT INTO PRODUTO( PROD_NOME, PROD_VAL_COMPRA, PROD_VAL_VENDA,PROD_QTD_ESTOQUE)
VALUES('CLASSIC', 0.60,1.30,14);
-- COCA COLA

-- SUCOS

--SALGADOS DA SUELI

-- LACTA

--TRIDENT

--VENDA

INSERT INTO VENDA(CLI_ID, VEN_DATA_VENDA, VEN_DATA_PAGAMENTO)VALUES (1,'2017-01-12','2017-01-12');
DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)
INSERT INTO VENDA_ITEM(VEN_ID, PROD_ID, VEN_ITEM_QTD) VALUES(@ID_VENDA,2,1);

INSERT INTO VENDA(CLI_ID, VEN_DATA_VENDA, VEN_DATA_PAGAMENTO)VALUES (5,'2017-01-15','2017-01-20');
DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)
INSERT INTO VENDA_ITEM(VEN_ID, PROD_ID, VEN_ITEM_QTD) VALUES(@ID_VENDA,3,2);

INSERT INTO VENDA(CLI_ID, VEN_DATA_VENDA, VEN_DATA_PAGAMENTO)VALUES (1,'2017-01-12',NULL);
DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)
INSERT INTO VENDA_ITEM(VEN_ID, PROD_ID, VEN_ITEM_QTD) VALUES(@ID_VENDA,12,1);

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
	SET @ID_VENDA =(SELECT @@IDENTITY)

-- 10 REGISTROS INSERIDOS

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

--15 REGISTROS


DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

-- 20 REGISSTROS


DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

-- 30 REGISTROS

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)


DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

--DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)

-- 56 REGISTROS
DECLARE @ID_VENDA INT 
SET @ID_VENDA =(SELECT @@IDENTITY)









SELECT count(*) FROM VENDA

SELECT * FROM VENDA_ITEM








SELECT *FROM PRODUTO;
SELECT * FROM CLIENTE;

